@font-face {
    font-family: "SourceSansPro";
    src: url("/CSS/Table/Fonts/SourceSansPro/SourceSansPro-Regular.woff") format("woff");
}

.members-table {
    border-collapse: collapse;
    border: 1px solid #EEE;
    font-family: 'SourceSansPro', sans-serif;
    font-size: 21px;
    font-weight: 300;
    letter-spacing: 1px;
}

.members-table th {
    background-color: #3598DB;
    border: 1px solid #EEE;
    color: #EEE;
    font-weight: normal;
    text-align: left;
    padding: 16px 10px 9px;
}

.firstname-column {
    width: 154px;
}

.lastname-column {
    width: 153px;
}

.job-column {
    width: 287px;
}

.twitter-column {
    width: 178px;
}

.members-table td {
    font-weight: bolder;
    border: 1px solid #CDCDCD;
    padding: 15px 10px 12px;
}

.members-table td:last-child {
    border-right: 1px solid #EEE;
}

.members-table td:first-child {
    border-left-color: #EEE;
}

.members-table tr:last-child td {
    border-bottom-color: #EEE;
}

.members-table tr:nth-child(odd) {
    background: #EEE;
}

.members-table tr:nth-child(even) {
    background: #FFF;
}