.temperature-input-area {
    width: 600px;
    height: 140px;
    vertical-align: top;
    background-color: #FEEED5;
    margin: 0 auto;
}

.header {
    text-align: center;
}

.temperature-input-form > * {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-top: 10px;
}

.temperature-caption {
    font-weight: bold;
}

.input-block input {
    width: 220px;
    height: 20px;
    margin-left: 45px;
}

.convert-button {
    background-color: #FF7316;
    width: 130px;
    height: 25px;
    border: none;
    font-weight: bold;
}

.convert-button:hover {
    background-color: #FFB20D;
}

.conversion-result {
    width: 600px;
    background-color: #FEEED5;
    margin: 0 auto;
}

.conversion-result input {
    width: 220px;
}

.degree-result > * {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    display: inline-block;
}

.fahrenheit-result-input {
    margin-left: 21px;
}

.kelvin-result-input {
    margin-left: 37px;
}

.error-message {
    color: #F00;
    font-weight: bold;
    font-size: 18px;
    display: none;
    margin-left: 192px;
}

.invalid {
    border-color: #F00;
}

.error-message.invalid {
    display: inline-block;
}